@charset "UTF-8";
/* notice, bankbook table에 적용할 css 2개 */

.table-basic{
    width: 100%;
    border-collapse: collapse;
}
.table-basic td, .table-basic th{
    border: 1px solid #29434e;
	border-spacing: 0;
	border-collapse: collapse;
	height: 40px;

}

.table-basic tr:first-child {
	background-color: #546e7a;
	height: 60px;
	color: white;
}