<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.s1.notice.NoticeDAO">

	<select id="list" parameterType="Pager" resultType="NoticeDTO">
		SELECT * FROM
		(SELECT ROWNUM R, B.* FROM
		(SELECT * FROM NOTICE WHERE
		NUM>0
		AND

		<choose>
			<when test="kind=='col1'">
				TITLE
			</when>
			<when test="kind=='col2'">
				CONTENTS
			</when>
			<otherwise>
				WRITER
			</otherwise>
		</choose>

		LIKE'%'||#{search}||'%'
		ORDER BY NUM DESC
		) B
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>

	<select id="total" resultType="Long" parameterType="pager">
		SELECT COUNT(NUM) FROM NOTICE
		WHERE
		NUM>0
		AND

		<choose>
			<when test="kind=='col1'">
				TITLE
			</when>
			<when test="kind=='col2'">
				CONTENTS
			</when>
			<otherwise>
				WRITER
			</otherwise>
		</choose>

		LIKE'%'||#{search}||'%'
	</select>

	<select id="detail" parameterType="NoticeDTO"
		resultType="NoticeDTO">
		SELECT * FROM NOTICE WHERE NUM = #{num}
	</select>

	<insert id="add" parameterType="NoticeDTO">
		INSERT INTO NOTICE
		VALUES
		(NOTICE_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, sysdate, 0)
	</insert>

	<delete id="delete" parameterType="NoticeDTO">
		DELETE NOTICE WHERE NUM =
		#{num}
	</delete>

	<update id="update" parameterType="NoticeDTO">
		UPDATE NOTICE SET
		TITLE=#{title}, CONTENTS=#{contents}
		WHERE NUM=#{num}
	</update>

</mapper>