<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.iu.s1.board.qna.QnaDAO">

	<insert id="add" parameterType="QnaDTO">
		INSERT INTO QNA
		VALUES (QNA_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, sysdate, 0, QNA_SEQ.CURRVAL, 0, 0)
	</insert>
	
	<select id="list" parameterType="Pager" resultType="QnaDTO">
		SELECT * FROM
		(SELECT ROWNUM R, B.* FROM
		(SELECT * FROM QNA WHERE
		NUM>0
		AND

		<choose>
			<when test="kind=='col1'">
				TITLE
			</when>
			<when test="kind=='col2'">
				CONTENTS
			</when>
			<otherwise>
				WRITER
			</otherwise>
		</choose>

		LIKE'%'||#{search}||'%'
		ORDER BY NUM DESC
		) B
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<select id="detail" parameterType="QnaDTO" resultType="QnaDTO">
		SELECT * FROM NOTICE WHERE NUM = #{num}
	</select>
	
	<delete id="delete" parameterType="QnaDTO">
		DELETE QNA WHERE NUM = #{num}
	</delete>
	
	<update id="update" parameterType="QnaDTO">
	UPDATE QNA SET TITLE=#{title}, CONTENTS=#{contents}
	WHERE NUM=#{num}
	</update>
	
	<select id="total" resultType="Long" parameterType="Pager">
		SELECT COUNT(NUM) FROM QNA
		WHERE
		NUM>0
		AND

		<choose>
			<when test="kind=='col1'">
				TITLE
			</when>
			<when test="kind=='col2'">
				CONTENTS
			</when>
			<otherwise>
				WRITER
			</otherwise>
		</choose>

		LIKE'%'||#{search}||'%'
	</select>
	
</mapper>
